@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
}

.header {
  border: 1px solid #000000;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: right bottom, left center;
  background: #fff8f3;
}

/* Nav Style */

.basic-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-h2 {
  font-weight: 800;
  font-size: 45px;
  margin: 50px 200px;
}

.highlight {
  color: #fd6e0a;
}

nav ul {
  display: flex;
  margin: 50px 200px;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-left: 20px;
}

.primary-btn {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  border: 0;
  background: #fd6e0a;
  padding: 18px 30px;
  border-radius: 5px;
}

.btn-contact {
  margin-left: 20px;
  border: 0.1px solid #fd6e0a;
  color: #fd6e0a;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 18px 30px;
}

.resume-btn {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  border: 0;
  background: #fd6e0a;
  padding: 10px 10px;
  border-radius: 5px;
  text-align: center;
  max-width: 250px;
  margin: 50px auto 113px;  
}
/* Banner Style */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-desc {
  margin-left: 200px;
}

.banner-img {
  margin-right: 38px;
}

.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
}

.banner-main-tile {
  font-weight: 700;
  font-size: 85px;
  color: #181818;
  margin-bottom: 20px;
}

.banner-paragraph {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}

/* About Section Style */
.about {
  max-width: 1140px;
  margin: 0 auto;
  background: #fff8f3;
  border-radius: 10px;
  margin-top: 200px;
  margin-bottom: 114px;
  padding: 151px 154px;
}
.title-about {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}
.about-description {
  font-size: 18px;
  text-align: center;
  color: #757575;
  margin-bottom: 30px;
}

/* Info Section Style */
.info-wrapper {
  display: flex;
  justify-content: space-around;
}
.info-title {
  font-size: 20px;
  text-align: center;
  color: #757575;
}
.info-description {
  font-size: 20px;
  text-align: center;
  color: #474747;
}
/* What I do section style */
.what {
  max-width: 909px;
  margin: 0 auto;
}
.what-title {
  font-weight: 700;
  font-size: 35px;
  color: #181818;
  text-align: center;
  margin-bottom: 30px;
}
.what-description {
  font-size: 18px;
  text-align: center;
  color: #757575;
  margin-bottom: 50px;
}
/* Skills section wrapper */
.skills-wrapper {
  display: flex;
  gap: 21px;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 130px;
}
.skill-article {
  padding: 20px 20px;
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.img-skills {
  margin-bottom: 30px;
}
.title-skill {
  font-weight: 700;
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}
.skill-description {
  color: #757575;
}
/* Resume section styles */
.resume {
  max-width: 1130px;
  margin: 0 auto;
}
.resume-wrapper {
  display: flex;
  gap: 70px;
}
.resume-h2 {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  color: #181818;
  margin-bottom: 113px;
}
.resume-articel {
}
.resume-title {
  font-weight: 700;
  font-size: 30px;
  color: #474747;
  margin-bottom: 30px;
}
.resume-sub-title {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}
.resume-sub-sub-title {
  font-weight: 600;
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}
.resume-description {
  color: #757575;
  margin-bottom: 30px;
}
/* footer style */
.footer {
  background: #FFF8F3;
  display: flex;
}

.footer-wrapper {
  display: flex;
  max-width: 1120px;
  margin: 0 auto;
  gap: 76px;
  padding-top: 130px;
  padding-bottom: 130px;
}
.footer-title {
  font-weight: 700;
  font-size: 35px; 
  color: #181818;
  margin-bottom: 20px;
}
.footer-description {
  color: #474747;
  margin-bottom: 30px;
}
.icon-wrapper {
  display: flex;
  list-style: none;
  max-width: 120px;
  justify-content: space-evenly;
}
.input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  color: #757575;
  border: none;
}